
html {
  background-color: #63A2A7;
  height: 100vh;
  box-sizing: 'border-box';
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: sans-serif;
    height: 100vh;

    #app {
      height: 100vh;
    }

    a {
      text-decoration: none;
    }

    label {
      display: block;
    }

    nav a {
      display: inline-block;
      margin: 1em;
    }

    form div {
      margin: 1em;
      display: inline-block;
    }

    #gameArea {
      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        height: '100vh';
        justify-content: 'space-evenly';
        margin: '10px auto';
        width: '90%';
      }
    }
    .keyInput {
      border: none;
      background: rgb(34, 30, 30);
      margin-left: 101px;
      color: rgb(169, 15, 169);
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      transition: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
      &:focus {
       outline-width: 0;
       font-size: 27px;
      }
     }

    .startGameBtn {
      background: #000000;
      -webkit-border-radius: 10;
      -moz-border-radius: 10;
      border-radius: 10px;
      -webkit-box-shadow: 0px 1px 3px #989494;
      -moz-box-shadow: 0px 1px 3px #989494;
      box-shadow: 0px 1px 3px #989494;
      font-family: Arial;
      color: white;
      font-size: 35px;
      padding: 10px 20px 10px 20px;
      border: solid rgb(169, 15, 169) 2px;
      text-decoration: none;
      margin: 20px
    }

    .startGameBtn:hover {
      background: rgb(72, 72, 72);
      background-image: -webkit-linear-gradient(top, rgb(48, 47, 47), rgb(72, 72, 72));
      background-image: -moz-linear-gradient(top, rgb(48, 47, 47), rgb(72, 72, 72));
      background-image: -ms-linear-gradient(top, rgb(48, 47, 47), rgb(72, 72, 72));
      background-image: -o-linear-gradient(top, rgb(48, 47, 47), rgb(72, 72, 72));
      background-image: linear-gradient(to bottom, rgb(48, 47, 47), rgb(72, 72, 72));
      text-decoration: none;
    }
  }
}
