
html {
  background-color: #63A2A7;
  height: 100vh;
  box-sizing: 'border-box';
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: sans-serif;
    height: 100vh;

    #app {
      height: 100vh;
    }

    a {
      text-decoration: none;
    }

    label {
      display: block;
    }

    nav a {
      display: inline-block;
      margin: 1em;
    }

    form div {
      margin: 1em;
      display: inline-block;
    }

    .game-area {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      // align-items: center;
      // align-content: center;
      // height: '100vh';
      // justify-content: 'space-evenly';
      // margin: '10px auto';
      width: '100vw';

      .player-left-container {
        display: flex;
        flex: 0 1 33%;

        .rotate-270 {
          transform: rotate(270deg);
        }

      }

      .player-right-container {

        .rotate-90 {
          transform: rotate(90deg);
        }

      }

      .game-area-middle-column {

        .player-top-container {

        }

        .game-field-container {

        }

        .player-bottom-container {

        }

      }


    }

    // #gameArea {
    //   .container {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: nowrap;
    //     align-items: center;
    //     align-content: center;
    //     height: '100vh';
    //     justify-content: 'space-evenly';
    //     margin: '10px auto';
    //     width: '90%';
    //   }
    // }
  }
}
